<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem vindo</span>
                <span class="title2"></span>
                <span class="title3"></span>
            </h1>

            <p class="paragrafo">Conheça mais sobre mim, meus projetos e habilidades técnicas</p>

            <div class="buttons">
                <a href="#about"> 
                    Sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        computer
                    </i>
                    Habilidades
                </a>
            </div>
        </div>
    </section>

    <section id="about" class="container, about">
        <div class="box">
            <div class="img">
                <img src="" alt="foto">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Sou programador</h3>

                <p></p>
                <p></p>
                <p></p>

                <a href="#contact">Entre em contato comigo</a>
            </div>
        </div>
    </section>
</main>